@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 75%;
    margin: 0 auto;
}

button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #003366;
    text-decoration: none;
}

section h3 {
    padding-bottom: 20px;
    font-size: 25px;
    text-align: center;
    margin: 0;
    color: #003366;
}

/* header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
} */

.logo {
    cursor: pointer;
    width: 500px;
    padding: 5px 90px;
    line-height: 80px;
}

nav{
    background: #abc7db;
    height: 80px;
    width: 100%;
    /* position: fixed; */
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #003366;
    font-size: 17px;
    transition: all 0.3s ease 0s;
}

nav ul li a:hover {
    color: #fff;
    text-decoration: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 10px;
}

.nav_links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-image: linear-gradient(to right, #12D8FA 0%, #1FA2FF  90%, #1FA2FF  100%);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.section {
    padding: 50px 0;
}

.banner {
    background: url(../assets/images/slide.png) no-repeat;
    background-size:  100%;
    padding: 57 px 0;
}

.button_cta {
    padding-top: 215px;
    padding-bottom: 15px;
}

#berita {
    background: url(../assets/images/bg-1.png) no-repeat;
    background-size:  100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;

}
.news-area .container{
    padding: 30px;
    height: auto;
    /* align-items: center;
    justify-content: center; */
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.swiper {
    height: auto;
}

.news-area .card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid #fff */
}

.first-news {
    width: 300px;
    height: auto;
    object-fit: cover;
}

.card {
    position: relative;
    background: #e7f2f8;
    border-radius: 15px;
    /* margin: 20px 0; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card .news-title {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    position: relative;
    z-index: 100;
}

.card .button {
    width: 100%;
    display: flex;
    padding-left: 25px;
    padding-bottom: 25px;
    justify-content: space-between;
}

.card .button button {
    background-image: linear-gradient(to right, #12D8FA 0%, #1FA2FF  90%, #1FA2FF  100%);
    outline: none;
    border: none;
    padding: 8px 10px;
    border-radius: 15px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.swiper-pagination {
    position: absolute;
}

.swiper-pagination-bullet {
    height: 7px;
    width: 20px;
    border-radius: 25px;
}

.swiper-button-next, .swiper-button-prev{
    opacity: 0.7;
    transition: all 0.3s ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover{
    opacity: 1;
}

.gallery-area .container-gallery{
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 10;
    padding: 50px;
    height: 50vh;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.gallery-area .card-gallery .image {
    border-radius: 5%;
}

.card-gallery .image img{
    height: 100%;
    width: 100%;
    border-radius: 5%;
    object-fit: cover;
    border: 5px solid #e7f2f8;
    /* border: 3px solid #fff */
}

/* .slider-container-berita {
    padding: 10px;
    max-width: 1170px;
    margin: auto;
  }

.slider-list-berita {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    overflow: hidden;
}

.img-slider-berita {
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0 0 70px 0;
    border-radius: 30px;
    margin: 5px;
    width: 250px;
    background-color: white;
}

.slider-arrows-berita {
    display: flex;
    justify-content: space-between;
    height: 30px;
    bottom: 80px;
    cursor: pointer;
  }
  
.slider-item-berita img {
    max-width: auto;
    height: auto;
} */

#bantuan {
    background: url(../assets/images/bg-2.png) no-repeat;
    background-size:  100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.grid-container {
    display: grid;
    align-content: start;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    padding: 20px;
    height: 500px;
    font-style: italic;
    font-weight: bold;
}

.grid-container > div {
    background-color: #abc7db;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px;
}

ul.arrows {
    list-style: none;
    float: right;
    padding-right: 20px;
    vertical-align: top;
    cursor: pointer;
}

.arrows-right {
    width: 40px;
}

#gallery {
    background: url(../assets/images/bg-1.png) no-repeat;
    background-size:  100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.slider-container {
    padding: 10px;
    max-width: 1170px;
    margin: auto;
  }

.slider-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    overflow: hidden;
}

.slider-item:not(.slider-item:last-child) {
    padding-left: 40px;
  }

/* .slider-item {
    background-color: gray;
    margin-bottom: -4px;
} */

.img-slider {
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    background-color: white;
}

.img-slider:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

.slider-arrows {
    display: flex;
    justify-content: space-between;
    height: 30px;
    bottom: 80px;
    cursor: pointer;
  }
  
.slider-item img {
    max-width: auto;
    height: auto;
}

#download {
    background: url(../assets/images/bg-3.png) no-repeat;
    background-size:  100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.banner-download {
    background-color: #abc7db;
    border-radius: 30px;
    opacity: 0.8;
    height: 450px;
    padding: 80px;
    margin: 0;
    text-align: center;
}

.banner-download img {
    cursor: pointer;
    width: 500px;
    padding: 5px 90px;
    line-height: 80px;
}

footer {
    font-family: "Roboto", sans-serif;
    background: url(../assets/images/footer.png) no-repeat;
    background-size:  100%;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    /* background-color: #003366; */
    color: white;
    text-align: center;
    height: auto;
}

